.styledDateWrapper {
  font-size: 1em;
  color: #3a5199;
  width: 100%;
  padding: 0px 0px 3px 0px;
  border-bottom: 1px solid #3a5199;
  margin-bottom: 0.75em;
}

.styledDateIcon {
  font-size: 1em;
  text-align: center;
  margin: auto;
}

.styledDateText {
  display: inline-block;
  color: #3a5199;
}
